<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <h1 id="cat_name">Results for <%= category_name %></h1>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="http://localhost:3000/web/dependencies/bootstrap-4.3.1-dist/css/bootstrap.min.css">
  
  <script src="http://localhost:3000/web/dependencies/jquery-3.3.1/jquery.min.js"></script>

  <!-- Custom styles for this template -->
  <link href="../../stylesheets/display_results.css" rel="stylesheet">
  <script src="../../javascripts/category.js"></script>


</head>

<body onload="start()">

  <!-- Navigation -->

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-9">

        <div class="row" id="product">
           
        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Bootstrap core JavaScript -->
  <script src="http://localhost:3000/web/dependencies/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>

</body>

</html>